body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* a {
    text-decoration: none;
    color: black;
}

* a:hover {
    color: black;
    text-decoration: none;
}

* li {
    list-style: none;
}


.banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.a-position {
    position: absolute;
}

.r {
    position: relative;
}

.caption-container {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.head {
    font-family: museo-sans;
    color: #57c3b7;
    font-size: 13px;
    font-weight: 900;
    line-height: 58px;
    text-align: center;
}

.caption-main {
    font-family: Museo-Sans-Rounded;
    color: rgb(12, 86, 109);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.238;
}

.caption p {
    font-family: Museo-Sans;
}

.error {
    font-family: museo-sans;
    font-size: 20px;
    font-weight: 500;
    color: red;
    text-align: left;
    padding-left: 15px;
}

/*HOME*/



.toggle {
    position: absolute;
    width: 100%;
    height: 30px;
    visibility: hidden;
}

.span {
    position: absolute;
    top: 0;
    right: 20px;
    height: 2px;
    width: 35px;
    background: #bbe1df;
    margin-top: 5px;
    transition: all cubic-bezier(0.32, 0.15, 0, 1.53) 0.3s;
}

#line01 {
    top: 0;
}

#line02 {
    top: 10px;
}

#line03 {
    top: 20px;
}

.menu.close #line01 {
    transform: rotate(45deg);
    top: 10px;
}

.menu.close #line02,
.menu.close #line03 {
    transform: rotate(-45deg);
    top: 10px;
}

.navbar {
    width: 100%;
    height: 115px;
    padding: 0 50px;
    transition: 0.5s;
}


.main-nav .line {
    left: 2%;
    top: 97px;
}


.navbar-toggler span i {
    color: #bbe1df;
    font-size: 35px;
}

.nav-item {
    transition: all 0.3s ease-out;
}

.nav-link {
    font-family: museo-sans-rounded;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin: 0 40px;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.8);

}

.navbar-collapse {
    text-align: center;
}


.btn-light {
    width: 191px;
    height: 55px;
    font-family: museo-sans-rounded;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    background-color: #57c3b7;
    border-radius: 30px;
    border: solid 2px #55C2B6;
    transition-duration: 0.2s;
}

.btn-light:hover {
    background-color: transparent;
    box-shadow: 0px 12px 35px 0px rgba(0, 0, 0, 0.25);
    border: solid 2px #55C2B6;
    color: #fff;
}

.line {
    background-color: rgba(255, 255, 255, 0.05);
    width: 96%;
    height: 1px;
}


.home_banner {
    background-image: url(../img/home/Banner.png);
    height: 941px;
}

.polygon1 {
    bottom: -145px;
    left: 0;
}

.banner_caption_container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.banner_caption {
    position: absolute;
    top: 36%;
    color: #fff;
    font-weight: 500;
}

.home .banner_caption span {
    color: #fff;
}

.banner_caption h1 {
    font-family: Museo-Sans-Rounded;
    font-size: 42px;
    line-height: 62px;
    margin-top: 50px;
}

.banner_caption p {
    margin-top: 45px;
    opacity: 0.6;
    font-family: Museo-Sans;
    font-size: 20px;
    line-height: 31px;
}

.scroll-container {
    position: absolute;
    left: 49%;
}

.home .scroll-container {
    bottom: 15%;
}

.scroll {
    background-color: #50b8af;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    text-align: center;
    animation-name: scroll;
    animation-duration: 3s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.scroll img {
    width: 35%;
    padding-top: 25px;
}


@keyframes scroll {
    0% {
        top: 5px;
    }

    50% {
        top: 40px;
    }

    100% {
        top: 5px;
    }
}


/*
.scroll i {
    font-size: 25px;
    color: #fff;
    background-color: #50b8af;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    padding-top: 19px;
    text-align: center;
}
*/

.home.home_profit {
    position: relative;
    background-image: url(../img/home/one_percent_bg.png);
    background-position: center center;
    background-color: #115a71;
    min-height: 571px;
}

.h-arrow1 {
    top: 20%;
    right: 1%;
}

.h-arrow2 {
    right: -3px;
    bottom: -41px;
}

.home_profit .caption {
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
}

.home_profit .one-percent {
    margin-top: 50px;
    margin-bottom: 60px;
}

.home.home_profit .caption h3 {
    font-family: museo-sans;
    color: #57c3b7;
    font-size: 13px;
    font-weight: 900;
    line-height: 58px;
}

.dot {
    margin: 0 5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #47aaa6;
    border-radius: 50%;
}

.home.home_profit .caption h2 {
    font-family: museo-sans-rounded;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 46px;

}

.home.home_profit .caption p {
    font-family: museo-sans-rounded;
    color: #bbe1df;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.profit_light {
    background-color: #d9efed;
    padding-top: 20px;
    padding-bottom: 15px;
}

.hand_icon {
    float: left;
    margin-top: 20px;
    margin-right: 25px;

}

.profit_light .caption-container {
    max-width: 1500px;
}

.profit_light .row {
    margin-top: 20px;
}

.profit_light .caption {
    font-family: Museo-sans;
    text-align: left;
}

.profit_light .caption h2 {
    color: #0c566d;
    font-size: 13px;
    font-weight: 700;
    line-height: 58px;
}

.profit_light .caption p {
    margin: 0 15px;
    color: rgba(70, 169, 165, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}




.hyat_work {
    margin-top: 100px;
}

.hyat_work .caption-container {
    max-width: 1740px;
    padding: 0 20px;
}

.hyat_work .row {
    margin: 130px 0;
    text-align: center;
}

.hyat_work .row img {
    margin-top: 25px;
    width: 170px;
    height: 103px;
}

.hyat_work .caption {
    text-align: center;
    font-family: museo-sans;
}

.hyat_work .caption h2 {
    color: #000000;
    font-size: 36px;
    line-height: 67px;
    transform: rotate(0.056deg);
}



.hyat_work .caption h3 {
    margin-bottom: 28px;
    margin-top: 55px;
    color: #0c0c0c;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.hyat_work .caption p {
    color: rgba(146, 146, 146, 0.9);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.aboutUs {
    margin-bottom: 10px;
}

.home_search {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #115a71;

}

.home_search .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

/*arrows*/

.home_search .form-arrows .arrow1 {
    right: 20px;
    bottom: 196px;
}

.home_search .form-arrows .arrow2 {
    bottom: 74px;
    right: 199px;
}

.home_search .form-arrows .arrow3 {
    bottom: 20%;
    right: 0;
}

.home_search .form-arrows .arrow4 {
    right: 73px;
    bottom: -16px;
}

.home_search .house_vector {
    left: 0;
    bottom: 0;
}

.home_search .row {
    padding: 131px 0;
}

.home_search .caption h1 {
    font-family: museo-sans-rounded;
    color: #fff;
    font-size: 32px;
    line-height: 58px;
    font-weight: 700;
}

.home_search .caption p br {
    display: none;
}

.home_search .caption p {
    padding-right: 40px;
    margin-top: 50px;
    color: #b5d8e3;
    line-height: 27px;
    font-size: 17px;
}

.home_search form {
    padding-right: 30px;
    margin-top: 15px;
}

.home_search .custom-select {
    border-radius: 12px;
    background-color: #ffffff !important;
    max-width: 360px;
    height: 65px;
    background: url(../img/home/dropdown.png) no-repeat;
    background-position: 90% 50%;

}

.home_search .custom-select select {
    margin: 12px 0 0 10px;
    font-family: museo-sans-rounded;
    color: #0c566d;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    background: transparent;
    width: 268px;
    border: none;
    -webkit-appearance: none;
}


.home_search.custom-select select option {
    font-family: museo-sans;
    color: #0c566d;
    font-size: 13px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.home_search .custom-select select option:hover {
    background-color: #50b8af;
}

.home_search .btn-info {
    border: none;
    border-radius: 6px;
    background-color: #114454;
    box-shadow: 0px 26px 41.71px 1.29px rgba(24, 23, 24, 0.1);
    width: 73px;
    height: 65px;
    transition-duration: 0.3s;
}

.home_search .btn-info i {
    color: #fff;
    width: 8px;
    height: 13px;
    font-size: 30px;
    margin-right: 5px;
    margin-top: 5px;
}

.home_search .btn-info:hover {
    background-color: #50b8af;
}

.home_search .form .caption h3 {
    margin-top: 50px;
    font-family: museo-sans-rounded;
    color: #ffffff;
    font-size: 15px;
    line-height: 27px;
}

.home_search .form .caption a {
    color: #50b8af;
}

.home_search .form .caption a:hover {
    color: #fff;
}







.home_slider {
    position: relative;
}

.home_slider .slider-container {
    max-width: 1600px;
    margin: 0 auto;
}

#carouselIndicators .row .col-1 {
    max-width: 300px;
    position: absolute;
    right: 0;
    margin-top: 130px;
}

.carousel-indicators li {
    border-radius: 50%;
    background-color: rgba(80, 184, 175, 0.2);
    width: 8px;
    height: 8px;
    margin: 30px 10px;
}

.carousel-indicators .active {
    border-radius: 50%;
    background-color: #50b8af;
    width: 8px;
    height: 8px;
}

.carousel-inner {
    margin-top: 130px;
    margin-bottom: 100px;
}

.home_slider .carousel-inner .slider-img {
    float: left;
}

.home_slider .caption {
    margin-left: 200px;
    padding-right: 5px;
}

.home_slider .caption h3 {
    font-family: museo-sans-rounded;
    color: #50b8af;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 40px;
}

.home_slider .caption p {
    color: #0c566d;
    font-size: 16px;
    line-height: 26px;
}

.home_news .line {
    max-width: 1650px;
    height: 1px;
}

.home_news .container {
    position: relative;
    max-width: 1600px;
}

.home_news .row {
    margin-bottom: 25px;
}

.home_news .caption {
    font-family: museo-sans-rounded;
    color: #0c566d;
    font-size: 13px;
    font-weight: 700;
    line-height: 58px;
}

.home_news .weeks {
    margin-left: 5%;
    margin-right: 8%;
}

.home_news .news .news-icon {
    margin-right: 15px;
}

.home_news .news .arrow {
    float: right;
    padding-top: 23px;
}

.home_news .news a {
    color: #0c566d;
}




.git {
    background-image: url(../img/home/git.png);
    height: 710px;
    margin-top: 5%;
}


.git .caption {
    padding: 0 25px;
    right: 44%;
    top: 186px;
}

.git .caption h2 {
    font-family: museo-sans-rounded;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.git .caption p {
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 45px;
    margin-bottom: 90px;
}

.git a.btn:hover {
    background-color: transparent;
    border: solid 2px #55C2B6;
    color: #fff;
}


.tpo {
    background-color: #fff;
}

.tpo .container {
    max-width: 1500px;
}

.tpo h2.caption {
    font-family: museo-sans-rounded;
    color: #115a71;
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    margin-left: 15px;
    padding-top: 30px;
}

.tpo p.caption {
    font-family: museo-sans;
    color: #546967;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin: 50px 15px;
}

.tpo p.caption a {
    color: #57c3b7;
}

.tpo .caption a:hover {
    color: #546967;
}



.home_housing {
    padding: 50px 0;
    background-color: #d9efed;
}

.home_housing .container {
    max-width: 1500px;
}

.home_housing .caption {
    margin: 50px 0 50px 150px;
}

.home_housing .icon {
    float: left;
    margin: 80px 25px;
}

.home_housing h2 {
    font-family: Museo-Sans;
    color: #115a71;
    font-size: 19px;
    font-weight: 700;
    line-height: 33px;
}

.home_housing .caption p {
    color: rgba(29, 59, 68, 0.7);
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    max-width: 500px;
}

.home_housing a {
    font-family: Museo-Sans;
    color: #57c3b7;
    font-size: 13px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}

.home_housing a:hover {
    color: rgba(29, 59, 68, 0.7);
}



footer {
    padding-bottom: 5px;
    background-color: #085970;
    text-align: right;
}

footer .container {
    max-width: 1500px;
}

footer .links {
    padding: 5% 0;
}

footer .copyright {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 72px;
}

footer .copyright img {
    margin-bottom: 53px;
}


footer h2 {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

footer li a {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    font-weight: 300;
}

footer p {
    font-family: Museo-Sans;
    color: #fff;
    font-size: 18px;
    line-height: 44px;
}

footer .line {
    width: 100%;
    line-height: 1px;
    color: #67c9be;
}

footer .icon {
    text-align: start;
    padding: 20px 120px;
}

footer .cs {
    text-align: end;
    font-family: Museo-Sans;
    color: #67c9be;
    font-size: 15px;
    font-weight: 500;
    line-height: 44px;
    padding: 5px 20px;
}









/* ABOUT */

.about_banner {
    background-image: url(../img/about/banner.png);
    min-height: 804px;
}

.about .banner_caption {
    top: 30%;
}

.about .banner_caption h1 {
    margin-top: 25px;
    font-size: 36px;
    line-height: 56px;
}

.about .banner_caption p {
    margin-top: 50px;
    opacity: 0.7;
    font-size: 18px;
    line-height: 1.722;
}

.about .scroll-container {
    bottom: 25%;
}


.aim {
    position: relative;
}

.aim .container {
    max-width: 1380px;
}

.aim .arrow1 {
    right: 25px;
}

.aim .caption {
    font-family: museo-sans;
    font-weight: 500;
    margin: 150px 20px 180px 20px;
}

.aim .caption h2 {
    margin-bottom: 55px;
    font-size: 32px;
    color: #0C566D;
    line-height: 52px;
}

.aim .caption p {
    font-size: 19px;
    color: #646E71;
    line-height: 36px;
}

.aim span {
    background-image: url(../img/About/one_percent.png);
    background-position: center center;
    background-size: cover;
    height: 45px;
    color: #fff;
    white-space: nowrap;
    padding: 4px 8px;
}

.aim .line {
    height: 1px;
    border-color: #DDF3F1;
}


.values {
    margin-bottom: 180px;
    position: relative;
}

.values .caption-container {
    max-width: 1600px;
}

.values .arrow2 {
    top: 230px;
}


.values .caption {
    text-align: center;
    padding: 0 30px;
}

.values .caption.head h2 {
    font-family: Museo-Sans-Rounded;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    color: #57C3B7;
    margin-top: 110px;
    margin-bottom: 15px;
}

.values div h3 {
    font-family: Museo-Sans;
    font-size: 23px;
    font-weight: 500;
    line-height: 41px;
    color: #8E9BA0;
}

.values .caption h2 {
    font-family: Museo-Sans-Rounded;
    color: #0c566d;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 200px;
}

.values .caption p {
    margin-top: 55px;
    max-width: 440px;
    color: #656e71;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: justify;
}



.about .part1 {
    background-image: url(../img/about/banner02.png);
    height: 597px;
    border-bottom: solid 30px #37aea1;
}

.about .part2 {
    background-image: url(../img/about/banner03.png);
    height: 597px;
    border-bottom: solid 30px #57c3b7;
}


.partners .caption {
    font-family: Museo-Sans;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -38%);
}

.partners .caption h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.partners .caption p {
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    margin: 50px auto 60px auto;
}


.partners .caption a:hover {
    color: #fff;
}






/*PRODUCTS*/


.products_banner {
    background-image: url(../img/products/banner.png);
    height: 945px;
}

.polygon {
    position: absolute;
    right: -25px;
    bottom: 0;
}

.products .banner_caption {
    top: 30%;
}

.products .banner_caption h1 {
    font-size: 36px;
    line-height: 56px;
}

.products .banner_caption p {
    opacity: 0.8;
    font-size: 18px;
    line-height: 31px;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 237px;
    background-color: rgb(12, 86, 109, 0.9);
}

.bottom-section .row {
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
}

.bottom-section .caption {
    text-align: left;
}

.bottom-section .caption h2 {
    margin-top: 60px;
    font-size: 22px;
    color: #fff;
    line-height: 1.818;
}

.bottom-section .caption p {
    margin-top: 20px;
    font-size: 17px;
    color: rgb(156, 199, 212);
    line-height: 1.6;
}

/*
.bottom-section .reg-btn {
    background-color: rgb(16, 91, 115);
}
*/

.bottom-section .btn-light {
    margin-top: 40px;
    float: right;
    line-height: 4;
    height: 67px;
    width: 283px;
    border: solid 2px rgb(87, 195, 183);
    background-color: transparent;
}









.circles {
    margin-top: 100px;
    margin-bottom: 150px;
}

.circles .arrows {
    position: relative;
}

.circles .arrows img {
    max-width: 100%;
}

.circles .arrows .arrow1 {
    top: -35px;
}

.circles .arrows .arrow2 {
    top: 250px;
    left: 58px;
}

.circles .arrows .arrow3 {
    =top: 35px;
    right: 295px;
}

.circles .arrows .arrow4 {
    bottom: -25px;
    right: 0;
}

.circles .arrows .arrow5 {
    bottom: 0;
    left: 24%;
}



.circles .caption h2 {
    font-family: Museo-Sans;
    color: #0c566d;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
}


.circles .circle-container {
    margin: 0 auto;
    max-width: 1500px;
    min-height: 1200px;
    position: relative;
}


.circles a {
    font-family: Museo-Sans-Rounded;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}


.circles a:hover {
    transform: scale(1.10);
}

.c {
    position: absolute;
}

.c span {
    position: absolute;
}

.circles-content img {
    max-width: 100%;
}


.c-1 a span {
    color: #fff;
    font-size: 46px;
    line-height: 52px;
    text-align: left;
}

.c-2 a span {
    top: 30%;
    color: #0c566d;
    font-size: 28px;
    line-height: 42px;
}

.c-3 a span {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.c-4 a span {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
}

.c-5 a span {
    top: 27%;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
}

.c-6 a span {
    top: 23%;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.c-7 a span {
    color: #fff;
    font-size: 24px;
    line-height: 38px;
}

.c-8 a span {
    top: 32%;
    color: #0c566d;
    font-size: 28px;
    line-height: 44px;
}



.c-1 {
    left: 0;
    top: 21%;
}

.c-2 {
    top: 22%;
    left: 30%;
}

.c-3 {
    top: 18%;
    right: 15%;
}


.c-4 {
    right: 28%;
    bottom: 38%;
}

.c-5 {
    right: -2%;
    bottom: 22%;
}


.c-6 {
    bottom: 11%;
    left: 4%;
}

.c-7 {
    bottom: 18%;
    left: 27%;
}

.c-8 {
    right: 18%;
    bottom: -5%;
}

/*

.c1 a {
    width: 411px;
    height: 410px;
    border-radius: 50%;
    background-image: url(img/products/shared.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 46px;
    line-height: 52px;
    text-align: left;
}

.c2 a {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    box-shadow: 0px 59px 81.48px 2.52px rgba(96, 168, 182, 0.19);
    color: #0c566d;
    font-size: 28px;
    line-height: 42px;
}


.c3 a {
    width: 206px;
    height: 206px;
    border-radius: 50%;
    background-color: #57c3b7;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}

.c4 a {
    width: 206px;
    height: 206px;
    border-radius: 50%;
    background-image: url(img/products/equity.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 24px;
    line-height: 34px;
}


.c5 a {
    border-radius: 50%;
    background-color: #57c3b7;
    box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
    width: 310px;
    height: 310px;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
}


.c6 a {
    border-radius: 50%;
    background-color: #57c3b7;
    box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
    width: 206px;
    height: 206px;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
}


.c7 a {
    border-radius: 50%;
    width: 310px;
    height: 310px;
    background-image: url(img/products/newham.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 24px;
    line-height: 38px;
}


.c8 a {
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 59px 81.48px 2.52px rgba(96, 168, 182, 0.19);
    width: 310px;
    height: 310px;
    color: #0c566d;
    font-size: 28px;
    line-height: 44px;
}
*/

.donut {
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #57c3b7;
    box-sizing: border-box;
    background-color: rgba(87, 195, 183, 0);
    width: 19px;
    height: 19px;
}

.dots .dot {
    border-radius: 50%;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
}


.dot1 {
    right: 41%;
    top: 22%;
}

.dot2 {
    bottom: 38%;
    right: 46%;
}

.dot3.dot {
    background-color: #0c566d;
    bottom: 38%;
    left: 2%;
}

.dot4.dot {
    background-color: #0c566d;
    bottom: 7%;
    left: 48%;
}

.dot5.dot {
    background-color: #57c3b7;
    bottom: 43%;
    left: 28%;
}

.dot6.dot {
    background-color: #57c3b7;
    right: 25.5%;
    bottom: 46%;
}

.products.git .caption h2 {
    font-weight: 500;
}

#modal {
    background: #5e8c9b;
    background-size: cover;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#products_modal {
    margin: 20px;
    text-align: center;
    width: 814px;
    height: 594px;
    border-radius: 20px;
    box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
    width: 814px;
    height: 100%;
}

#products_modal .head {
    font-family: museo-sans-rounded;
    font-weight: 700;
    background-color: #e1fcfe;
    border-radius: 20px 20px 0 0;
    min-height: 294px;
    padding: 75px 0;
}

#products_modal .head span {
    color: #57c3b7;
    font-size: 22px;
    line-height: 40px;
}

#products_modal .head h2 {
    color: #0c566d;
    font-size: 30px;
    line-height: 52px;
}

#products_modal .caption {
    font-family: Museo-Sans;
    color: #4b4b4b;
    font-size: 17px;
    line-height: 30px;
    min-height: 304px;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 40px 90px;
}




/*SERVICES*/


.services_banner {
    background-image: url(../img/services/banner.png);
    min-height: 802px;
    /*  height: 40vw; */
}

.services .banner_caption {
    top: 30%;
}

.services .banner_caption h1 {
    margin: 30px 25px 0 25px;
    font-size: 36px;
    line-height: 56px;
    /* font-size: 2vw;
    line-height: 3vw; */

}

.services .banner_caption p {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    opacity: 0.8;
}

.services .scroll {
    margin-top: 70px;
}

.scroll-container {
    bottom: 35%;

}

.services-division {
    background-image: url(../img/services/rectangle_bg.png);
    background-size: 100% 30vh;
    background-position: top;
    padding-top: 50px;
}

.services-division .container {
    position: relative;
    max-width: 1950px;
    margin: 0 auto;
}

.services-division .arrow1 {
    top: -82px;
    right: 5px;
}

.services-division .arrow2 {
    z-index: -1;
    position: absolute;
    bottom: -25%;
}

.services-content .banner {
    margin: 25px auto;
    /*  width: 899px;*/
    height: 549px;
    border-radius: 8px;
    max-width: 100%;
}

.services-content .banner1 {
    background-image: url(../img/services/banner2.png);
}

.services-content .banner2 {
    background-image: url(../img/services/banner3.png);
}

.services-content .caption {
    color: #fff;
    border-radius: 8px;
    background-color: rgba(17, 90, 113, 0.902);
    box-shadow: 0px 57px 81.48px 2.52px rgba(12, 48, 59, 0.34);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 90%;
}

.services-content .caption h3 {
    font-size: 28px;
    line-height: 40px;
    margin-top: 40px;
}

.services-content .caption p {
    width: 80%;
    margin: 80px auto;
    font-size: 17px;
    line-height: 32px;
    margin-top: 25px;
}

.services-content .s-scroll img {
    padding-top: 23px;
    padding-left: 2px;
}

.services-content .s-scroll {
    background-color: #50b8af;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    text-align: center;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
}

/*
.scroll {
    background-color: #50b8af;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    text-align: center; }
*/
.services-division .caption {
    text-align: center;
    font-family: Museo-Sans;
    font-weight: 500;
}


.services-sell .caption h2 {
    font-size: 32px;
    line-height: 52px;
    color: #0C566D;
    margin: 150px 45px 0 45px;
}

.services-sell .caption p {
    font-size: 19px;
    line-height: 36px;
    color: #71797B;
    font-weight: 500;
    margin: 70px 45px 150px 45px;
}



/*SERVICES-CX*/

.services-cx-banner {
    background-image: url(../img/services_cx/banner.png);
    height: 803px;
}

.services .banner_caption p {
    opacity: 0.6;
}

.services-cx .services-sell {
    position: relative;
}

.services-cx .arrow1 {
    top: -11%;
    right: 3%;
}

.services-cx .arrow3 {
    top: -36%;
}

.services-nav {
    width: 100%;
}

.services-nav .nav-wrapper {
    max-width: 1950px;
    margin: 0 auto;
    text-align: center;
    min-height: 120px;
    background-color: rgb(12, 86, 109);
    box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
    border-radius: 20px;
}

.services-nav .row .caption {
    margin-top: 25px;
}

.services-nav .caption a {
    font-family: Museo-Sans;
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}

.services-nav .caption a:hover {
    color: #4cb0a8;
    background-color: #0b4f64;
    border-radius: 20px;
    padding: 25px 250px;
}

.services-nav .caption a:hover {
    color: #4db4ac;
    background-color: #0b4f64;
    padding: 25px 30%;
    border-radius: 20px;
}

.services-sell .caption h2 {
    margin-top: 200px;
}

.package .caption-container {
    max-width: 1850px;
    margin: 100px auto 150px auto;
}

.package .caption {
    font-family: Museo-Sans;
    color: #115a71;
    text-align: left;
}

.package .caption h3 {
    text-align: justify;
    font-size: 23px;
    font-weight: 700;
    line-height: 41px;
    max-width: 535px;
    margin: 0 auto;
}

.package .caption .list span {
    font-size: 21px;
    font-weight: 500;
    line-height: 41px;
}

.package .caption img {
    margin: 0 10px
}


.charity-banner {
    background-image: url(../img/services_cx/banner2.png);
    min-height: 771px;
}

.charity .caption-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.charity .caption {
    font-family: Museo-Sans;
}

.charity .caption h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    max-width: 936px;
    margin: 35px auto;
}

.charity .caption span {
    background-image: url(../img/services_cx/one-percent.png);
    white-space: nowrap;
    padding: 7px 12px;
}

.charity .caption p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
    margin: 80px 0;
}


/*PROPERTIES*/


.properties-banner {
    background-image: url(../img/properties/banner.png);
    min-height: 857px;
}

.properties .banner_caption {
    top: 40%;
}

.properties .banner_caption span {
    font-weight: 900;
}

.properties .banner_caption h1 {
    margin-top: 15px;
}


.properties-intro {
    position: relative;
}


.properties-intro .arrow2 {
    right: 25px;
    top: 40%;
}

.properties-intro .caption p {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: rgb(84, 89, 91);
    line-height: 1.636;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 150px;
}

.properties-intro .navbar-toggler .more-info {
    font-family: museo-sans-rounded;
    color: #d2f2ef;
    font-size: 15px;
    font-weight: 700;
    display: none;
}

.properties-intro .nav-hidden {}

.properties-intro .navbar {
    transition: none;
}

.properties-intro .nav-container {
    position: absolute;
    right: 0;
    left: 0;
    top: -45px;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    padding-top: 50px;
    top: 155px;
    right: 1%;
    width: 98%;
}

.properties-intro .sticky {
    height: 99px;
    background-color: rgb(12, 86, 109);
    box-shadow: 0px 28px 31.04px 0.96px rgba(24, 23, 24, 0.1);
    border-radius: 20px;
}

.properties-intro .navbar-light {
    padding: 0;
}

.properties-intro .navbar-nav {
    margin-right: auto;
}

.properties-intro .navbar-nav .nav-item a {
    font-family: museo-sans-rounded;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    width: 203px;
    height: 56px;
    background-color: rgb(4, 74, 95);
    color: #fff;
    line-height: 38px;
    margin: 0 20px;
    transition: 0.3s;
}

.properties-intro .navbar-nav .nav-item.active a {
    color: rgb(87, 195, 183);
    background-color: #f7f7f7;
}

.properties-intro .navbar-nav .nav-item a:hover {
    text-decoration: none;
    color: rgb(87, 195, 183) !important;
    background-color: #f7f7f7;
    box-shadow: 0px 59px 81.48px 2.52px rgba(24, 23, 24, 0.19);
}

.properties-intro .downloads {
    position: absolute;
    right: 0;
}

.properties-intro .downloads .dwn {
    padding-left: 30px;
    background-color: #044a5f;
    height: 99px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 99px;
    transition-duration: 0.3s;
}

.properties-intro .downloads .dwn:hover {
    opacity: 0.7;
}

.properties-intro .downloads .dwn .dwn-link {
    background-color: #044a5f;
    font-size: 26px;
    font-weight: 700;
    font-family: Museo-Sans;
    color: rgb(255, 255, 255);
}

.properties-intro .downloads .dwn:hover .dwn-link {
    color: rgb(87, 195, 183);
}

.properties-intro .downloads .dwn-link .poly {
    right: 98%;
    position: absolute;
    height: 100%;
}

.properties-intro .downloads .dwn-link .arrow1 {
    margin: 0 30px;
}


.properties-intro .downloads .dwn-link .arrow2 {
    margin: 0 30px;
    display: none;
}

.properties-intro .downloads .dwn-link .arrow {
    transition-duration: 1s;
}

.properties-intro .downloads:hover .dwn-link .arrow {
    transform: rotate(-90deg);
}

.properties-intro .downloads:hover .dwn-link .arrow1 {
    display: none;
}

.properties-intro .downloads:hover .dwn-link .arrow2 {
    display: inline-block;
}

.properties-intro .downloads .drop-menu {
    display: none;
    position: absolute;
    background-color: #044a5f;
    border-radius: 15px;
    width: 290px;
    top: 99px;
    right: 0;
}

.properties-intro .downloads .drop-menu a {
    text-align: center;
    font-family: Museo-Sans;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    height: 50px;
}

.properties-intro .downloads .drop-menu a:hover {
    color: rgb(87, 195, 183);
    background-color: transparent;
}

.properties-intro .downloads:hover .drop-menu {
    display: block;
}

.properties-intro .sticky .navbar-toggler {
    position: absolute;
    top: 6px;
    right: 0px;
    border: none;
}

.properties-intro .sticky .navbar-toggler span i {
    color: #bbe1df;
    font-size: 25px;
    border: none;
}

.property-slides {
    position: relative;
}

.property-slides .container {
    max-width: 1950px;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
}


.property-slides .carousel-inner {
    text-align: center;
}

.property-slides .carousel-inner img {
    width: 78%;
    border-radius: 20px;
}

.property-slides .carousel-control img {
    width: 100%;
}

.property-slides .carousel-control-next span {
    padding-left: 70px;

}

.property-slides .carousel-control-prev span {
    padding-right: 70px;
}

.property-slides #indicators ol {
    bottom: -18%;
}


.content-wrapper {
    max-width: 1450px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.room-info {
    position: relative;
}


.room-info .caption p {
    color: rgb(12, 86, 109);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    padding-top: 55px;
}



.room-info .caption .btn-light {
    position: relative;
    border-radius: 20px;
    width: 408px;
    height: 58px;
    margin-top: 55px;
    font-family: Museo-Sans-Rounded;
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 45px;
}

.room-info .caption .btn-light:hover {
    color: #044a5f;
    background-color: #57c3b7;
}

.room-info .caption .btn-light img {
    position: absolute;
    padding: 15px;
    border-radius: 20px;
    background-color: #40b4a7;
    right: 6px;
    top: 3px;
}

.room {
    position: absolute;
    right: 0;
}

.outside .caption-container {
    padding: 100px 25px 150px 25px;
    max-width: 1550px;
}


.outside .caption p {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(84, 89, 91);
    line-height: 1.636;
}

.outside .caption .row .list {
    margin-top: 85px;
    text-align: left;
    font-weight: 700;
    font-size: 22px;
    font-family: Museo-Sans;
    color: rgb(87, 195, 183);
    line-height: 2.364;
}

.neighbour .content-wrapper {
    min-height: 750px;
    max-width: 1980px;
    text-align: left;
}



.neighbour .caption {
    padding: 50px 25px 0 25px;
    max-width: 650px;
    margin: 0 auto;
}

.neighbour .caption p {
    margin-top: 70px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    color: rgb(84, 89, 91);
    line-height: 1.636;
}

.neighbour_neighbour img {
    width: 100%;
}

.neighbour_neighbour {
    position: absolute;
    right: 0;
    top: 0;
}

.neighbour .elipse {
    position: absolute;
    top: -23%;
    left: 0;
}

.eligibility {
    background-color: #f1f8f7;
}

.eligibility .caption-container {
    padding: 100px 0;
}

.eligibility .caption p {
    margin-top: 50px;
    font-size: 22px;
    color: #0c566d;
    font-weight: 700;
    line-height: 2.364;
}

.eligibility p .sign {
    color: rgb(87, 195, 183);
}

.next_steps {
    background-color: rgb(12, 86, 109);
    height: 123px;
}

.next_steps p {
    text-align: center;
    font-family: Museo-Sans;
    font-size: 26px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 111px;
}

.next_steps p .sign {
    color: #57c3b7;
}



/*Properties Results*/

.prod_banner_results {
    background-image: -moz-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
    background-image: -webkit-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
    background-image: -ms-linear-gradient(-17deg, rgb(17, 90, 113) 0%, rgb(104, 201, 190) 100%);
    min-height: 569px;
}

.prod-results .banner_caption h2 {
    font-size: 36px;
}

.prod-results .banner_caption p {
    margin-top: 35px;
    color: rgb(87, 195, 183);
    line-height: 1.7;
    opacity: 1;
}

.selections .nav-wrapper {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 20px;
}


.selections .select {
    margin-right: 20px;
}

.selections .btn-light {
    border: solid 2px rgb(87, 195, 183);
    border-radius: 20px;
    font-size: 16px;
    box-shadow: none;
}

.selections .btn-light a {}

.selections .right .btn-light {
    border: none;
}

.selections .left .btn-light img {
    position: absolute;
    top: 26px;
    right: 14%;
}

.left .select {
    color: rgb(12, 86, 109);
}

.btn-light.btn-beds {
    background-color: transparent;
    width: 216px;
    padding-right: 35px;
}

.btn-light.btn-loc {
    background-color: transparent;
    color: rgb(12, 86, 109);
    width: 171px;
    padding-right: 35px;
}



.right .btn-light span {
    top: 11px;
    left: 14px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.right .btn-light img {
    margin-bottom: 12px;
}


.btn-light.btn-all {
    width: 83px;
    height: 53px;
}

.all {
    color: #fff;
}

.btn-light.btn-all:hover {
    box-shadow: 0px 15px 12.61px 0.39px rgba(13, 123, 111, 0.16);
    background-color: #57c3b7 !important;
}

.btn-light.btn-cs {
    padding-left: 40px;
    background-color: rgb(212, 236, 233);
    width: 185px;
}

.btn-light.btn-cs:hover {
    box-shadow: 0px 15px 12.61px 0.39px rgba(13, 123, 111, 0.16);
}

.cs {
    color: rgb(87, 195, 183);
}

.btn-light.btn-fs {
    padding-left: 40px;
    background-color: rgb(229, 228, 249);
    width: 150px;
}

.btn-light.btn-fs:hover {
    box-shadow: 0px 15px 12.61px 0.39px rgba(13, 123, 111, 0.16);

}

.fs {
    color: rgb(135, 132, 206);
}

.btn-light.btn-lv {
    position: relative;
    background-color: rgb(212, 236, 233);
    text-align: center;
    width: 174px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}

.btn-light.btn-lv:hover {
    box-shadow: 0px 15px 12.61px 0.39px rgba(13, 123, 111, 0.16);
}

.select.lv {
    color: rgb(87, 195, 183);
    margin: 0;
}

.btn-light.btn-mv {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 174px
}

.btn-light.btn-mv:hover {
    background-color: #57c3b7 !important;
    box-shadow: 0px 15px 12.61px 0.39px rgba(13, 123, 111, 0.16);
    color: rgb(87, 195, 183);
}

.select.mv {
    margin: 0;
}

.selections .drop-menu {
    display: none;
    background: rgb(87, 195, 183);
    border-radius: 10px;
    border: solid 2px rgb(87, 195, 183);
}

.selections .drop-menu li {
    font-family: Museo-Sans;
    font-size: 15px;
    height: 25px;
    color: #fff;
    text-align: center;
}

.selections .drop-menu li:hover {
    background-color: rgb(12, 86, 109);
    border-radius: 20px;
}

.selections .beds .drop-menu {
    left: 35px;
    width: 150px;
}

.selections .location .drop-menu {
    left: 8px;
    width: 150px;
}

.selections .btn-light:hover {
    background-color: transparent;
    color: rgb(12, 86, 109);
}

.selections .select:hover .drop-menu {
    display: block;
}

.property-list {
    background-color: #f5f7f8;
}

.property-list .content-wrapper {
    padding-top: 25px;
    padding-bottom: 100px;
    max-width: 1950px;
}

.property-list .row {
    margin: 0 10px;
}

.property-intro {
    position: relative;
    margin-top: 15px;
    transition: 0.3s;
}

.property-intro .bg {
    max-width: 100%;
    border-radius: 12px;
    margin: 15px 0;
}

.property-intro .caption-container {
    top: 10%;
    left: 3%;
    border-radius: 12px;
    background: #fff;
    width: 55%;
    min-height: 100px;
}

.property-intro .caption {
    max-width: 350px;
    margin: 20px;
    text-align: left;
}

.property-intro .caption .head {
    line-height: 30px;
}

.property-intro .caption h2 {
    font-weight: 900;
    font-size: 18px;
    font-family: museo-sans;
    color: #0c566d;
}

.property-intro .button {
    left: 3%;
    bottom: 8%;
}

.property-intro .button .btn-light {
    height: 45px;
    line-height: 31px;
    width: 200px;
    border-radius: 12px;
    text-transform: uppercase;
}

.btn.btn-light.btn-purple {
    width: 170px;
    background: #8d87f5;
    border: solid 2px #8d87f5;
}

.btn-light.btn-purple:hover {
    background: transparent;
}

.property-intro .view {
    height: 40px;
    border-radius: 50%;
    bottom: 11%;
    right: 5%;
    background-color: #fff;
    width: 40px;
    transition-duration: 0.2s;
}

.property-intro .view .arrow {
    position: absolute;
    right: 13px;
    bottom: 18px;
    transition-duration: 0.2s;
}


.property-intro .view .hidden {
    display: none;
    position: absolute;
    left: 18%;
    font-family: Museo-Sans-rounded;
    color: rgb(87, 195, 183);
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
}

.property-intro:hover {
    margin: 0;
}

.property-intro:hover .view {
    height: 40px;
    width: 120px;
    border-radius: 50px;
}

.property-intro:hover .view .arrow {
    transform: rotate(90deg);
}

.property-intro:hover .view .hidden {
    display: block;
}


/*SIGN UP*/

.signUp_banner {
    background-image: url(../img/signUp/banner.png);
    height: 807px;
}

.signUp .banner_caption {
    top: 25%;
}

.signUp .banner_caption .head {
    text-transform: uppercase;
}

.signUp .scroll-container {
    bottom: 23%;
}

.signUp .arrow {
    position: absolute;
    right: -13%;
    bottom: -19%;
}

.signUp .floating_img img {
    position: absolute;
}

.signUp .floating_img .img_one {
    top: 0;
    right: 50px;
}

.signUp .floating_img .img_two {
    left: 0;
    bottom: -15px;
}

.signUp .register {
    font-size: 18px;
    font-family: Museo-Sans;
    color: rgb(12, 86, 109);
    line-height: 2.889;
    text-align: center;
    margin: 25px auto;
}

.reg_form .form-row {
    text-align: left;
    margin-left: 8px;
}

.signUp .content-wrapper {
    max-width: 1510px;
    text-align: center;
}

.reg_form .f-head {
    font-size: 32px;
    font-family: Museo-Sans-Rounded;
    color: rgb(19, 94, 115);
    margin-top: 50px;
}

.reg_form .f-text {
    font-size: 18px;
    font-weight: 700;
    font-family: Museo-Sans;
    color: rgb(12, 86, 109);
    padding-top: 50px;
}

.reg_form input {
    border: solid 1px rgb(208, 222, 226);
    border-radius: 4px;
    width: 95%;
    height: 59px;
    padding: 0 10px;
}




.radioContainer {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 25px;
}

.radioContainer input {
    display: none;
}

.radioContainer .checked {
    display: inline-block;
    position: absolute;
    height: 42px;
    width: 42px;
    border: solid 2px rgb(208, 222, 226);
    border-radius: 50%;
    left: 0;
    top: 15px;
}

.radioContainer input:checked + .checked:after {
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgb(80, 184, 175);
    position: absolute;
    left: 7px;
    top: 7px;
}


.reg_form .custom-select {
    border: solid 1px rgb(208, 222, 226);
    border-radius: 4px;
    width: 95%;
    height: 59px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/signUp/drop-arrow.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 95%;
}


.reg_form .btn-light {
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(80, 184, 175);
    /* box-shadow: 0px 24px 70px 0px rgba(59, 154, 146, 0.33);*/
    width: 98%;
    height: 80px;
    margin: 30px auto;
}
