/* MAIN NAV */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {

    .main-nav .btn-light {
        width: 170px;
    }

    .main-nav {
        padding: 0 25px;
    }

    .main-nav .nav-link {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    .main-nav .btn-light {
        width: 155px;
        font-size: 12px;
    }

    .main-nav {
        padding: 0 10px;
    }

    .main-nav .nav-link {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .main-nav .navbar-collapse {
        background-color: rgb(12, 86, 109, 0.95);
        position: fixed;
        top: 115px;
        left: 0;
        height: 100%;
        width: 0;
        overflow-x: scroll;
        transition: 0.5s;
    }

    .main-nav .navbar-collapse.show {
        width: 100%;
    }

    .main-nav .navbar-collapse .overlay-item:nth-child(1) {
        padding-top: 5vh;
    }

    .main-nav .navbar-collapse .overlay-item {
        padding-bottom: 4vh;
    }

    .main-nav .overlay-item .btn-light {
        width: 180px;
    }


    .navbar-brand {
        position: absolute;
        top: 20px;
        left: 30px;
    }

    .toggle {
        visibility: visible;
    }

}

/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {}

/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .main-nav .nav-link {
        font-size: 15px;
        margin: 0;
    }

}


@media screen and (max-width: 399px) {}






/* FOOTER */

/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    footer .icon {
        padding: 20px 20px;
    }

}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    footer {
        padding: 0;
        text-align: center;
    }

}


/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    .home_housing .icon {
        float: none;
        text-align: center;
        margin: 0;
    }

    .home_housing .caption {
        margin: 25px 0;
        text-align: center;
    }

    .home_housing .caption p {
        max-width: 70%;
        margin: 0 auto;
    }



    footer .icon {
        text-align: center;
        padding: 0;
    }


    footer .cs {
        text-align: center;
        padding: 0;
    }

}






/* HOME PAGE */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {

    .home_banner {
        height: 60vw;
    }

    .home.home_profit .arrow {
        width: 90%;
    }

    .h-arrow1 {
        top: 20%;
        right: 0;
    }

    .h-arrow2 {
        right: -24px;
        bottom: -36px;
    }

    .profit_light .caption p br {
        display: none;
    }


    .home_slider .caption h3 br {
        display: none;
    }

    .git {
        background-position: 80% 50%;
    }

    .git .caption {
        right: 42%;
    }
}


/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    .banner_caption span {
        font-size: 13px;
    }

    .banner_caption h1 {
        font-size: 40px;
    }

    .banner_caption p {
        font-size: 19px;
    }


    .home.home_profit .arrow {
        width: 85%;
    }

    .h-arrow1 {
        right: -30px;
    }

    .h-arrow2 {
        bottom: -35px;
        right: -35px;
    }

    .hyat_work .caption p br {
        display: none;
    }

    .home_search .custom-select select {
        font-size: 16px;
    }

    .tpo h2.caption {
        font-size: 25px;
    }
}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .banner_caption {
        padding: 0 70px;
    }

    .banner_caption p br {
        display: none;
    }


    .home.home_profit .arrow {
        width: 80%;
    }

    .h-arrow1 {
        right: -50px;
    }

    .h-arrow2 {
        bottom: -33px;
        right: -49px;
    }

    .home.home_profit .caption {
        padding: 0 20px;
    }

    .home.home_profit .caption h2 {
        font-size: 28px;
    }

    .one-percent img {
        width: 120px;
    }


    .hand_icon {
        float: none;
        margin: 0;
    }

    .profit_light .caption {
        text-align: center;
    }


    .hyat_work .row {
        margin-top: 100px;
        justify-content: center;
    }

    .hyat_work .caption {
        padding: 0 25px;
    }


    .home_search .row {
        padding-top: 100px;
    }

    .home_search .custom-select select {
        font-size: 17px;
    }

    .home_search .caption p br {
        display: block;
    }


    .home_slider .caption h3 {
        font-size: 22px;
        line-height: 34px;
    }

    .home_slider .caption p {
        display: none;
    }


    .git .caption {
        width: 98%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }

    .git .caption h2 {
        font-size: 31px;
    }

}


/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    .scroll img {
        width: 32%;
        padding-top: 19px;
    }

    .scroll {
        width: 45px;
        height: 45px;
    }

    .polygon1 {
        display: none;
    }

    .banner_caption {
        padding: 0 40px;
    }

    .banner_caption h1 br {
        display: none;
    }

    .banner_caption h1 {
        font-size: 37px;
        line-height: 58px;
    }

    .banner_caption p {
        text-align: justify;
        font-size: 19px;
        line-height: 28px;
    }

    .home.home_profit .arrow {
        width: 70%;
    }

    .h-arrow1 {
        right: -130px;
    }

    .h-arrow2 {
        bottom: -29px;
        right: -73px;
    }

    .home.home_profit .caption {
        top: 25px;
        padding: 0 20px;
    }

    .home.home_profit .caption h3 {
        font-size: 12px;
    }

    .home.home_profit .caption h2 {
        font-size: 28px;
    }

    .home_profit .one-percent {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .one-percent img {
        width: 110px;
    }

    .home.home_profit .caption p br {
        display: none;
    }

    .home.home_profit .caption p {
        font-size: 16px;
    }


    .profit_light .caption p br {
        display: block;
    }

    .profit_light .caption p {
        margin-bottom: 25px;
    }


    .hyat_work .caption h2 {
        font-size: 30px;
        line-height: 60px;
    }

    .hyat_work .row {
        margin-top: 80px;
    }

    .hyat_work .caption p br {
        display: block;
    }

    .hyat_work .caption h3 {
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 22px;
        line-height: 30px;
    }

    .home_search .form-arrows .arrow1 {
        opacity: 0.4;
    }

    .home_search .caption {
        text-align: center;
    }

    .home_search .caption h1 {
        line-height: 50px;
        font-size: 28px;
    }

    .home_search .caption p {
        padding: 0;
        margin-top: 30px;
    }

    .home_search .caption p br {
        display: none;
    }

    .home_search .custom-select {
        max-width: 100%;
    }

    .home_search .btn-info {
        width: 100%;
    }

    .home_search form {
        padding: 0;
        margin: 15px 0;
    }

    .home_search .custom-select select {
        font-size: 20px;
    }

    .home_search .form-row .input-box {
        margin-bottom: 25px;
    }


    .home_slider .carousel-inner .slider-img img {
        width: 95%;
    }

    .home_slider .caption {
        padding: 0 20px;
    }

    .home_slider .caption h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .home_slider .caption p {
        display: block;
    }

    .home_slider .caption p br {
        display: none;
    }


    .home_news .news .arrow {
        float: none;
        padding: 0;
        margin: 0 40px;
    }

    .home_news .container {
        text-align: center;
    }


    .git .caption h2 {
        font-size: 30px;
    }

    .git .caption p {
        font-size: 18px;
    }


    .tpo p.caption {
        text-align: justify;
        margin-top: 0;
    }

}


/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .banner_caption {
        top: 32%;
        padding: 0 20px;
    }

    .banner_caption span {
        font-size: 13px;
    }

    .banner_caption h1 {
        font-size: 37px;
        line-height: 55px;
    }

    .banner_caption p {
        font-size: 19px;
        line-height: 30px;
    }

    .home.home_profit .arrow {
        width: 50%;
    }

    .h-arrow1 {
        right: -200px;
    }

    .h-arrow2 {
        bottom: -21px;
        right: -120px;
    }

    .home.home_profit .caption {
        top: 15px;
        padding: 0 15px;
    }

    .home.home_profit .caption h3 {
        font-size: 12px;
    }

    .home.home_profit .caption h2 {
        font-size: 23px;
        line-height: 40px;
    }

    .home_profit .one-percent {
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .one-percent img {
        width: 100px;
    }

    .home.home_profit .caption p {
        font-size: 15px;
        line-height: 28px;
    }

    .profit_light .caption p br {
        display: none;
    }


    .hyat_work {
        margin-top: 75px;
    }

    .hyat_work .row {
        margin-bottom: 75px;
        margin-top: 75px;
    }

    .hyat_work .caption {
        padding: 0;
    }

    .hyat_work .caption h2 {
        font-size: 28px;
        line-height: 55px;
    }

    .hyat_work .row {
        margin-top: 75px;
    }

    .hyat_work .caption h3 {
        font-size: 21px;
    }

    .hyat_work .caption p {
        font-size: 16px;
    }

    .hyat_work .row img {
        width: 155px;
    }


    .home_slider .carousel-inner .slider-img {
        text-align: center;
        float: none;
    }

    .home_slider .carousel-inner .slider-img img {
        width: 50%;
    }

    .home_slider .caption {
        text-align: center;
        margin: 0 10px;
    }

    home_slider .caption h3 {
        font-size: 22px;
        line-height: 34px;
    }


    .git .caption {
        padding: 0 10px;
    }

    .git .caption h2 br {
        display: none;
    }

}


@media screen and (max-width: 399px) {

    .banner_caption {
        top: 25%;
        padding: 0 20px;
    }

    .banner_caption span {
        font-size: 12px;
    }

    .banner_caption h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .banner_caption p {
        font-size: 17px;
        line-height: 28px;
    }

    .hyat_work .caption p br {
        display: none;
    }

    .hyat_work .caption h2 {
        font-size: 25px;
        line-height: 45px;
    }

    .head {
        font-size: 11px;
    }

    .home_search .caption h1 {
        line-height: 50px;
        font-size: 25px;
    }

    .home_search .caption p {
        margin-bottom: 30px;
        margin-top: 25px;
    }

    .home_search .custom-select select {
        font-size: 16px;
    }


    .git .caption h2 {
        font-size: 28px;
    }

    .git .caption p {
        font-size: 17px;
    }

    .git .btn-light {
        width: 175px;
    }

    .tpo h2.caption {
        font-size: 24px;
    }

}






/* ABOUT PAGE */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {

    .aim .caption h2 br {
        display: none;
    }

    .values .arrow2 img {
        opacity: 0.6;
    }

    .partners .caption {
        padding: 0 15px;
    }

    .partners .caption p {
        padding: 0 50px;
    }

    .partners .caption p br {
        display: none;
    }

}


/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    .partners .caption h2 {
        font-size: 30px;
        line-height: 38px;
    }

}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .about .banner_caption h1 {
        font-size: 34px;
    }

    .about .banner_caption p {
        font-size: 17px;
    }

    .aim .caption {
        margin: 100px 0;
    }

    .aim .caption p {
        padding: 0 40px;
    }

    .aim .caption h2 {
        font-size: 30px;
        line-height: 52px;
    }

    .aim .caption p br {
        display: none;
    }

    .aim .arrow1 img {
        max-width: 90%;
    }

    .values {
        margin-bottom: 150px;
    }

    .values .caption.head h2 {
        font-size: 33px;
        margin-top: 100px;
    }

    .values .caption h2 {
        font-size: 31px;
        margin-top: 120px;
    }

    .values div h3 {
        font-size: 21px;
    }

    .values .arrow2 {
        top: 155px;
    }

    .partners .caption h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .partners .caption p br {
        display: block;
    }
}


/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    .about .banner_caption {
        margin: 0 25px;
    }

    .about .banner_caption h1 br {
        display: none;
    }

    .about .banner_caption h1 {
        line-height: 50px;
        font-size: 32px;
    }

    .about .banner_caption p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 30px;
    }

    .aim .caption {
        text-align: justify;
        padding: 0 25px;
    }

    .aim .caption h2 {
        font-size: 29px;
        line-height: 52px;
    }

    .aim .caption p {
        font-size: 18px;
        padding: 0;
    }

    .aim .arrow1 img {
        max-width: 80%;
    }

    .values .caption p {
        max-width: 98%;
    }

    .values .caption h2 {
        font-size: 31px;
        margin-top: 100px;
    }

    .values .arrow2 img {
        width: 90%;
    }

    .values .arrow2 {
        top: 190px;
    }


    .partners .caption h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .partners .caption p br {
        display: none;
    }

}


/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .about .banner_caption {
        top: 28%;
        margin: 0 5px;
    }

    .about .banner_caption h1 {
        line-height: 48px;
        font-size: 30px;
    }

    .about .banner_caption p {
        font-size: 15px;
        line-height: 23px;
        margin-top: 30px;
    }

    .aim .caption h2 {
        font-size: 25px;
        line-height: 45px;
    }

    .aim .caption p {
        line-height: 30px;
    }

    .values .caption.head h2 {
        font-size: 30px;
        margin-top: 80px;
    }

    .values div h3 {
        font-size: 19px;
        line-height: 38px;
    }

    .values .caption p {
        font-size: 16px;
        line-height: 25px;
    }

    .values .caption h2 {
        font-size: 30px;
        margin-top: 80px;
    }

    .values .arrow2 img {
        width: 80%;
    }

    .values .arrow2 {
        top: 180px;
    }

    .partners .caption h2 {
        font-size: 29px;
    }

    .partners .caption p {
        font-size: 16px;
        padding: 0;
    }

}


@media screen and (max-width: 399px) {

    .about .banner_caption {
        top: 25%;
        margin: 0;
    }

    .about .banner_caption h1 {
        line-height: 45px;
        font-size: 28px;
    }

    .about .banner_caption p {
        font-size: 14px;
        line-height: 23px;
        margin-top: 30px;
    }


    .values .arrow2 img {
        width: 70%;
    }

    .values .arrow2 {
        top: 240px;
    }
}





/* PRODUCTS */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {

    .c-6 a span {
        line-height: 26px;
    }

    .products.git .caption p br {
        display: none;
    }

    .products.git .caption p {
        padding-top: 45px;
        padding-bottom: 90px;
        width: 85%;
        margin: 0 auto;
    }
}


/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    .products .banner_caption h1 br {
        display: none;
    }

    .products .banner_caption h1 {
        padding: 0 60px;
    }

    .circles .circle-container {
        min-height: 1000px;
    }

    .c-1 a span {
        font-size: 4vw;
    }

    .c-2 a span {
        font-size: 2vw;
        line-height: 30px;
        top: 30%;
    }

    .c-3 a span {
        line-height: 28px;
        font-size: 1.8vw;
    }

    .c-4 a span {
        font-size: 2vw;
        line-height: 25px;
    }

    .c-5 a span {
        font-size: 2.5vw;
        line-height: 30px;
    }

    .c-6 a span {
        font-size: 1.6vw;
        line-height: 20px;
    }

    .c-7 a span {
        font-size: 2.2vw;
        line-height: 30px;
    }

    .c-8 a span {
        font-size: 2.1vw;
    }

    .circles .arrows .arrow4 {
        width: 20%;
    }

    .circles .arrows .arrow1 {
        width: 18%;
    }

}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .products .banner_caption {
        top: 25%;
        padding: 15px;
    }

    .products .banner_caption h1 {
        padding: 0;
        font-size: 34px;
    }

    .bottom-section .btn-light {
        width: 250px;
    }


    .bottom-section .caption {
        padding-right: 30px;
    }

    .bottom-section .caption h2 {
        margin-top: 50px;
    }

    .bottom-section .caption p br {
        display: none;
    }

    .circles .caption h2 br {
        display: none;
    }

    .circles .caption h2 {
        max-width: 90%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .c-1 a span {
        line-height: 30px;
    }

    .c-2 a span {
        line-height: 20px;
    }

    .c-3 a span {
        line-height: 20px;
    }

    .c-4 a span {
        line-height: 20px;
    }

    .c-5 a span {
        line-height: 22px;
    }

    .c-6 a span {
        top: 20%;
    }

    .c-7 a span {
        line-height: 22px;
    }

    .c-8 a span {
        font-size: 2.1vw;
    }

    .circles .arrows .arrow4 {
        width: 20%;
    }

    .circles .arrows .arrow1 {
        width: 18%;
    }

    .circles .circle-container {
        min-height: 800px;
    }


}


/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    .products_banner {
        min-height: 1200px;
    }

    .products .banner_caption {
        top: 25%;
        padding: 20px;
    }

    .products .banner_caption h1 {
        font-size: 32px;
    }

    .bottom-section {
        padding: 40px 0;
    }

    .bottom-section .caption {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .bottom-section .caption h2 {
        margin: 0;
    }

    .bottom-section .btn-light {
        margin-top: 20px;
        float: none;
        width: 283px;
    }

    .bottom-section .reg-btn {
        text-align: center;
    }

    .circles {
        margin-top: 75px;
        margin-bottom: 0;
    }

    .circles .caption h2 {
        margin-bottom: 50px;
        font-size: 21px;
    }

    .circles .circle-container {
        min-height: 500px;
    }

    .circles img {
        display: none;
    }

    .dots {
        display: none;
    }


    .circles a span {
        position: static;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
    }

    .c {
        padding: 30px 0;
        position: static;
    }

    .c-1 {
        background-image: -moz--webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -ms-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
    }

    .c-3 {
        background: #57c3b7;
    }

    .c-4 {
        background-image: -moz--webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -ms-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
    }

    .c-5 a span {
        color: #0c566d;
    }


    .c-6 {
        background: #57c3b7;
    }

    .c-7 {
        background-image: -moz--webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -webkit-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
        background-image: -ms-linear-gradient(91deg, rgb(87, 195, 183) -44%, rgb(12, 86, 109) 76%);
    }

}


/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .products .banner_caption {
        top: 20%;
        padding: 15px;
    }

    .products .banner_caption h1 {
        font-size: 28px;
        line-height: 50px;
    }

    .products .banner_caption p {
        font-size: 16px;
        line-height: 28px;
    }

    .bottom-section .caption h2 {
        font-size: 20px;
    }

    .bottom-section .caption p {
        font-size: 15px;
    }

    .bottom-section .btn-light {
        width: 250px;
        line-height: 40px;
        height: 60px;
    }

    .circles .caption h2 {
        max-width: 100%;
    }

    .circles a span {
        font-size: 18px;
    }

    .c {
        padding: 20px 0;
    }

}


@media screen and (max-width: 399px) {

    .products .banner_caption {
        top: 15%;
        padding: 10px;
    }

    .products .banner_caption h1 {
        font-size: 25px;
    }

    .bottom-section .caption h2 {
        font-size: 18px;
    }

    .products .banner_caption p {
        font-size: 15px;
        line-height: 26px;
    }

    .bottom-section .btn-light {
        width: 200px;
        line-height: 40px;
        height: 55px;
    }

}





/* PRODUCTS MODAL */

/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    #products_modal .head {
        padding: 50px 0;

    }

    #products_modal .caption {
        padding: 40px 30px;
    }
}


/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    #products_modal .head {
        padding: 50px 20px;
    }

    #products_modal .head h2 {
        font-size: 25px;
        line-height: 0;
    }

    #products_modal .head span br {
        display: none;
    }

    #products_modal .head span {
        padding: 0 20px;
        font-size: 20px;
    }

    #products_modal .caption {
        font-size: 15px;
    }
}






/* SERVICES RESULTS */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {
    .services-content .caption {
        bottom: 2%;
        padding: 0;
    }

    .services-content .caption h3 {
        font-size: 26px;
        line-height: 20px;
        margin-top: 25px;
    }

    .services-content .caption p {
        width: 90%;
        margin: 25px auto 60px auto;
        font-size: 15px;
    }

    .services br {
        display: none;
    }
}


/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px)and (min-width:992px) {

    .services br {
        display: none;
    }

    .services .banner_caption h1 {
        font-size: 32px;
    }

    .services-sell .caption h2 {
        font-size: 28px;
        margin: 150px 25px 0 25px;
    }

    .services-sell .caption p {
        margin: 70px 45px 0 45px;
    }

    .services-division .arrow2 img {
        width: 85%;
    }

    .services-content .banner {
        height: 40vw;
    }

    .services-content .caption {
        width: 95%;
        bottom: -1%;
    }

    .services-content .caption h3 {
        font-size: 26px;
        line-height: 15px;
        margin-top: 25px;
    }


    .services-content .caption p {
        width: 90%;
        margin: 25px auto 60px auto;
        font-size: 15px;
        line-height: 25px;
    }

    .services-content .s-scroll {
        bottom: -2%;
        width: 48px;
        height: 48px;
    }

    .services-content .s-scroll img {
        padding-top: 17px;
    }

}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .services .banner_caption {
        top: 25%;
    }

    .services .banner_caption h1 {
        font-size: 30px;
        line-height: 50px;
    }

    .services-division .arrow1 img {
        width: 80%;
    }

    .services-division .arrow1 {
        top: -78px;
        right: -20px;
    }

    .services-division .arrow2 img {
        width: 80%;
    }

    .services-division .arrow2 {
        position: absolute;
        bottom: 1%;
        opacity: 0.6;
    }

    .services-content .banner {
        margin-top: 10px;
        margin-bottom: 25px;
        height: 60vw;
    }

    .services-content .caption h3 {
        font-size: 28px;
    }

    .services-content .caption p {
        font-size: 18px;
    }

    .services-sell .caption h2 {
        margin-top: 150px;
    }

    .services-sell .caption-container {
        padding: 0 30px;
    }

}

/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {


    .services-content .banner {
        height: 60vw;
    }

    .services-division .arrow1 img {
        width: 80%;
    }

    .services-division .arrow1 {
        top: -80px;
        right: -33px;
    }

    .services .banner_caption h1 {
        font-size: 28px;
        line-height: 42px;
    }

    .services .banner_caption p {
        line-height: 30px;
        font-size: 17px;
    }

    .services-content .caption {
        bottom: 0;
        opacity: 0.95;
        width: 95%;
    }

    .services-content .caption h3 {
        font-size: 25px;
    }

    .services-content .caption p {
        font-size: 16px;
        width: 98%;
        margin: 25px auto 40px auto;
    }

    .services-content .s-scroll {
        bottom: -10px;
        width: 49px;
        height: 49px;
    }

    .services-content .s-scroll img {
        padding-top: 19px;
        padding-left: 3px;
    }
}

/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .services-division .arrow1 img {
        width: 70%;
    }

    .services-content .banner {
        height: 100vw;
    }

    .services-content .caption h3 {
        margin-top: 20px;
        line-height: 0;
        font-size: 23px;
    }

    .services-content .caption p {
        font-size: 15px;
        line-height: 22px;
    }

    .services-content .s-scroll {
        width: 39px;
        height: 39px;
    }

    .services-content .s-scroll img {
        padding-top: 10px;
    }

    .services-sell .caption h2 {
        font-size: 28px;
        line-height: 45px;
        margin: 100px 15px 0 15px;
    }

    .services-sell .caption p {
        text-align: justify;
        font-size: 17px;
        margin: 70px 25px 100px 25px;
    }

}

@media screen and (max-width: 399px) {

    .services .scroll-container {
        bottom: 30%;
    }

    .services .banner_caption h1 {
        font-size: 23px;
        line-height: 35px;
        margin: 0;
    }

    .services .banner_caption p {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .services-sell .caption h2 {
        font-size: 25px;
        line-height: 40px;
        margin-top: 85px;
    }

    .services-sell .caption p {
        font-size: 15px;
    }

    .services-content .caption p {
        font-size: 16px;
        width: 98%;
        margin-bottom: 20px;
    }
}







/* PROPERTIES */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {
    .property-slides #indicators ol {
        bottom: -25%;
    }

    .property-slides .carousel-control img {
        width: 90%;
    }

    .property-slides .carousel-inner {
        margin-top: 80px;
    }

    .room-info .caption p br {
        display: none;
    }

    .room-info .caption p {
        width: 90%;
        margin: 0 auto;
    }

    .neighbour .caption p {
        width: 95%;
    }

    .neighbour_neighbour {
        top: 12%;
    }

    .properties-intro .navbar-nav .nav-item a {
        width: 190px;
        font-size: 19px;
        margin-right: 0;
    }

    .properties-intro .downloads .dwn {
        padding-left: 20px;
    }

    .properties-intro .downloads .dwn .dwn-link {
        font-size: 24px;
    }
}


/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {
    .properties-intro .caption p {
        max-width: 1060px;
        padding: 200px 25px 120px 25px;
    }

    .property-slides #indicators ol {
        bottom: -30%;
    }

    .property-slides .carousel-control img {
        width: 85%;
    }

    .property-slides .carousel-inner {
        margin-top: 50px;
    }

    .properties .caption-main {
        font-size: 40px;
    }

    .room {
        right: 25px;
    }

    .outside .caption p {
        margin-top: 45px;
        font-size: 20px;
    }

    .outside .caption .row .list {
        margin-top: 70px;
        font-size: 20px;
    }

    .neighbour .caption p {
        margin-top: 50px;
        font-size: 18px;
        font-weight: 500;
    }

    .neighbour_neighbour {
        top: 16%;
    }

    .eligibility .caption p {
        font-size: 20px;
    }

    .next_steps {
        height: 100px;
    }

    .next_steps p {
        font-size: 24px;
        line-height: 100px;
    }

    .properties-intro .sticky {
        height: 89px;
    }

    .properties-intro .navbar-nav .nav-item a {
        border-radius: 18px;
        width: 160px;
        font-size: 17px;
        margin-left: 15px;
        height: 50px;
        line-height: 34px;
    }

    .properties-intro .downloads .dwn .dwn-link {
        font-size: 22px;
    }

    .properties-intro .downloads .dwn {
        line-height: 85px;
        height: 89px;
        padding-left: 10px;
    }

    .properties-intro .downloads .dwn-link .arrow {
        width: 15px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .properties-intro .downloads .dwn-link .poly {
        width: 60px;
    }

    .properties-intro .downloads .drop-menu {
        width: 235px;
        top: 88px;
    }

    .properties-intro .downloads .drop-menu a {
        font-size: 18px;
    }
}


/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .properties .content-wrapper {
        max-width: 1450px;
        margin: 0 auto;
        text-align: center;
        padding: 80px 0;
    }

    .properties .caption-container {
        padding-top: 80px;
    }

    .properties-intro .caption p {
        padding: 100px 25px;
        font-size: 20px;
    }

    .properties-intro .arrow2 img {
        width: 80%;
    }

    .properties .caption-main {
        font-size: 36px;
    }

    .property-slides .carousel-control-next span {
        padding-left: 40px;
    }

    .property-slides .carousel-control-prev span {
        padding-right: 40px;
    }

    .property-slides .carousel-inner img {
        width: 85%;
    }

    .property-slides .carousel-control img {
        width: 80%;
    }

    .property-slides #indicators ol {
        bottom: -35%;
    }

    .room-info .caption p {
        width: 95%;
        padding-top: 25px;
    }

    .room-info .caption .btn-light {
        width: 320px;
        margin-top: 40px;
    }

    .room-info .caption .btn-light span {
        position: absolute;
        left: 55px;
    }

    .room img {
        width: 98%;
    }

    .room {
        top: 22%;
        right: 0;
    }

    .outside .caption p br {
        display: none;
    }

    .neighbour .caption {
        padding-left: 40px;
    }

    .neighbour_neighbour {
        top: 23%;
    }

    .neighbour .caption p {
        margin-top: 30px;
    }

    .properties-intro .navbar-nav {
        margin-right: 0;
    }

    .properties-intro .sticky {
        height: 70px;
    }

    .properties-intro .navbar-nav .nav-item a {
        height: 40px;
        line-height: 25px;
        width: 18vw;
        margin-left: 10px;
        font-size: 15px;
    }

    .properties-intro .downloads {
        width: 18vw;
        border-radius: 18px;
        background-color: rgb(4, 74, 95);
        right: 20px;
    }

    .properties-intro .downloads .dwn .dwn-link {
        background: none;
        font-size: 15px;
    }

    .properties-intro .downloads .dwn {
        padding: 0;
        line-height: 35px;
        height: 40px;
        background: none;
    }

    .properties-intro .downloads img {
        display: none;
    }

    .properties-intro .downloads:hover .dwn-link .arrow2 {
        display: none;
    }

    .properties-intro .downloads .drop-menu {
        width: 17vw;
        top: 40px;
        right: 0;
    }

    .properties-intro .downloads .drop-menu a {
        font-size: 15px;
    }
}


/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {


    .properties-banner {
        min-height: 700px;
    }

    .banner_caption h1 {
        font-size: 35px;
    }

    .properties .content-wrapper {
        padding: 80px 0;
    }

    .properties .caption-container {
        padding: 80px 20px;
    }

    .properties .banner_caption h1 br {
        display: block;
    }

    .properties-intro .caption p {
        font-size: 18px;
    }

    .properties-intro .arrow2 img {
        width: 70%;
    }

    .properties .caption-main {
        font-size: 34px;
    }

    .property-slides .carousel-inner img {
        width: 96%;
    }

    .property-slides .carousel-control img {
        width: 70%;
    }

    .property-slides .carousel-control span {
        padding: 0;
    }

    .property-slides #indicators ol {
        bottom: -40%;
    }

    .room {
        position: static;
    }

    .room img {
        width: 90%;
    }

    .room-info .caption .btn-light {
        margin: 40px 25px;
        width: 350px;
    }

    .room-info .caption .btn-light span {
        left: 80px;
    }

    .outside .caption p {
        margin-bottom: 50px;
    }

    .outside .caption .row .list {
        margin-top: 0;
        font-size: 18px;
    }

    .neighbour .caption {
        max-width: 100%;
        padding: 0 50px;
        text-align: center;
    }

    .neighbour .caption p {
        width: 100%;
        margin: 50px 0;
    }

    .neighbour_neighbour {
        text-align: center;
        position: static;
    }

    .neighbour_neighbour img {
        border-radius: 20px;
        width: 90%;
    }

    .properties-intro .nav-container {
        display: none;
    }

    /*
    .fixed {
        top: 200px;
        padding-top: 180px;
    }

    .properties-intro #stickyNav .nav-item a {
        width: 100%;
        background: none;
    }

    .properties-intro .downloads {
        background: none;
        right: 0;
    }

*/
}


/*MIN-WIDTH 400px * XS */
@media screen and (max-width: 575px) {

    .properties .banner_caption h1 br {
        display: none;
    }

    .properties .banner_caption h1 {
        padding: 0 25px;
        font-size: 32px;
    }

    .properties .content-wrapper {
        padding: 60px 0;
    }

    .properties .caption-container {
        padding: 60px 20px;
    }

    .properties-intro .arrow2 img {
        width: 60%;
    }

    .properties .caption-main {
        font-size: 28px;
    }

    .property-slides #indicators ol {
        bottom: -45%;
    }

    .property-slides .carousel-control img {
        width: 50%;
    }

    .property-slides .carousel-inner {
        margin: 50px 0;
    }

    .properties .caption p {
        margin-top: 35px;
        font-size: 18px;
    }

    .room-info .caption .btn-light {
        width: 280px;
        font-size: 18px;
        line-height: 43px;
        margin: 30px auto;
    }

    .room-info .caption .btn-light span {
        left: 40px;
    }

    .outside .caption .row .list {
        margin-top: 0;
        font-size: 16px;
    }

    .next_steps p {
        font-size: 20px;
    }




}


@media screen and (max-width: 399px) {

    .properties .caption-main {
        font-size: 25px;
    }

    .property-slides #indicators ol {
        bottom: -65%;
    }

    .properties .caption p {
        font-size: 16px;
    }

    .outside .caption .row .list {
        font-size: 14px;
    }

    .room-info .caption .btn-light {
        height: 50px;
        width: 250px;
        font-size: 16px;
        line-height: 35px;
        margin: 30px auto;
    }

    .room-info .caption .btn-light img {
        padding: 10px;
        border-radius: 15px;
    }
}








/* PROPERTIES RESULTS */

/*MIN-WIDTH 1200PX * XL */
@media screen and (max-width: 1510px) {

    .selections .select {
        margin-right: 10px;
    }

    .selections .nav-wrapper nav {
        padding: 0;
    }

    .selections .btn-light.btn-beds {
        width: 180px;
        padding-right: 30px;
    }

    .selections .btn-light.btn-loc {
        width: 130px;
        padding-right: 25px;
    }

    .selections .left .btn-light img {
        right: 10%;
    }

    .selections .select.lv {
        margin-right: 0 !important;
    }

    .selections .select.mv {
        margin-left: 0 !important;
    }

    .selections .btn-light.btn-lv,
    .btn-light.btn-mv {
        width: 150px;
    }

    .selections .btn-light.btn-cs {
        padding-left: 50px;
        width: 170px;
    }




}

/*MIN-WIDTH 992PX * LG */
@media screen and (max-width: 1199px) {

    .selections .nav-wrapper {
        padding: 0 10px;
    }

    .selections .right .btn-light img {
        width: 50%;
        margin-bottom: 8px;
    }

    .selections .left .btn-light img {
        right: 8%;
        top: 20px;
    }

    .selections .btn-light.btn-loc {
        width: 110px;
        padding-right: 25px;
    }

    .selections .btn-light.btn-beds {
        width: 160px;
        padding-right: 35px;
    }

    .selections .right .btn-light span {
        top: 6px;
        left: 14px;
        width: 30px;
        height: 30px;
    }

    .selections .btn-light {
        line-height: 30px;
        height: 45px;
        font-size: 15px;
    }

    .selections .btn-light.btn-all {
        width: 65px;
    }

    .selections .btn-light.btn-cs {
        width: 150px;
        padding-left: 40px;
    }

    .btn-light.btn-fs {
        width: 125px;
    }

    .selections .right .btn-light span {
        top: 8px;
        left: 8px;
        width: 28px;
        height: 28px;
    }

    .selections .btn-light.btn-lv,
    .btn-light.btn-mv {
        width: 120px;
    }


    .property-intro .caption {
        margin: 12px;
    }

    .property-intro .caption h2 {
        font-size: 16px;
        margin-top: 15px;
    }

    .property-intro .caption .head {
        font-size: 11px;
        line-height: 0px;
    }

    .property-intro .button {
        bottom: 11%;
    }

    .property-intro .button .btn-light {
        height: 40px;
        line-height: 26px;
        width: 100%;
    }

    .property-intro:hover .view {
        width: 28%;
    }

    .charity-banner {
        min-height: 50vh;
    }

    .charity .caption-container {
        top: 55%;
    }
}

/*MIN-WIDTH 768px* MD */
@media screen and (max-width: 991px) {

    .prod-results .banner_caption {
        top: 26%;
    }

    .prod-results .banner_caption h1 {
        font-size: 38px;
    }

    .prod-results .banner_caption p {
        color: rgb(178, 213, 209, 1);
    }

    .selections form .select {
        margin: 10px 15px;
    }

    .selections .nav-wrapper nav {
        margin: 25px 0;
        justify-content: center;
    }

    .selections .drop-menu {
        z-index: 100;
        ;
    }

    .selections .beds .drop-menu {
        left: 13px;
        width: 85%
    }

    .selections .location .drop-menu {
        left: 5px;
        width: 90%;
    }

    .charity-banner {
        min-height: 40vh;
    }

    .charity .caption h2 {
        font-size: 25px;
    }

    .charity .caption p {
        font-size: 18px;
        margin: 50px auto;
    }

    .charity .caption span {
        padding: 7px 17px;
    }
}

/*MIN-WIDTH 576px * SM */
@media screen and (max-width: 767px) {

    .prod-results .banner_caption h1 {
        font-size: 35px;
    }

    .prod-results .banner_caption p {
        text-align: center;
        font-size: 16px;
    }

    .property-block {
        padding: 0 5px;
    }

    .property-intro .caption-container {
        min-height: 50px;
        width: 50%;
    }

    .property-intro .bg {
        margin: 0;
    }

    .property-intro .caption h2 {
        font-size: 15px;
        margin: 0;
    }

    .property-intro .view .hidden {
        font-size: 13px;
    }

    .charity .caption h2 {
        line-height: 38px;
        margin: 35px 10px;
    }

    .charity .caption p {
        font-size: 15px;
        margin: 35px 10px;
    }

    .charity .caption p br {
        display: none;
    }

}
